/* 
------- LAB 4 Requirements are commented below -------
 */

/* ------- Requirements of CSS Challenge One ------- */
li:nth-child(odd) {
    font-weight: bolder;
}

div.wrapper {
    /* LAB 4 Requirement 5: width of the div.wrapper to 80% of the viewport width. Add a background colour and border to div.wrapper */
    box-sizing: border-box;
    border: 10px solid #fff;
    background-color: #50D3CF;
    width: 80vw;
    margin: 0 auto;
}

div.wrapper:hover {
    background-color: #C3FFDB;
    width: 75vw;
}

* {
    color: initial;
}

:not(p) {
    color: #333;
}

/* ------- Customized Parts ------- */

/* customized layout */
body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.wrapper {
    max-width: 1000px;
    overflow: auto;
}

@media (orientation: landscape) {
    
}

@media only screen and (max-width: 600px) {
    div.wrapper {
        width: 100vw;
        border-radius: 0;
    }

    div.wrapper:hover {
        width: 100vw;
    }
}

/* customized style */
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

div.wrapper {
    text-align: center;
    border-radius: 10px;
}

div.wrapper,
div.wrapper::after {
    transition: all 0.5s, width 0.5s;
}

div.wrapper::after {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    /* LAB 4 Requirement 2: Add a new background image or gradient */
    opacity: 1;
    background: #DAD299;
    background-image: linear-gradient(45deg, #d6ffdf, #fff6b9);
    filter: hue-rotate(0deg) saturate(1);
}

div.wrapper:hover::after {
    transform: rotate(40deg);
    filter: hue-rotate(283deg) saturate(5);

}

header{
    /* LAB 4 Requirement 6: Set the header image to 90% of div.wrapper and centre it within the .wrapper div. Add a background colour using an appropriate colour measurement */
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1676149841755-12f0b913737c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3174&q=80);
    background-repeat: no-repeat;
    background-attachment:initial;
    background-position: center;
    background-color: #fff;
    background-size: 90%;
}

main{
    padding: 0 2vw;
}

figure > img {
    /* LAB 4 Requirement 3: Add at least two different filter effects */
    /* LAB 4 Requirement 4: responsive image */
    width: 100%;
    height: 30vh;
    object-fit: cover;
    filter: saturate(1) hue-rotate(0deg);
}

div.wrapper:hover figure > img{
    filter: saturate(1.3) hue-rotate(133deg);
}

figure > img,div.wrapper:hover figure > img{
    transition: all 0.5s;
}

h1{
    font-size: 2em;
    padding: 0.67em 0;
    margin: 0;
}

a {
    font-style: italic;
    color: #57213F;
}

ul {
    max-width: max-content;
    margin: 0 auto;
    text-align: left;
}

li:nth-child(odd) {
    list-style-type: circle;
}

div.wrapper li {
    position: relative;
    padding-left: 24px;
}

div.wrapper li>span {
    position: absolute;
    left: 0px;
}
